@import 'tailwindcss';

@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('/assets/fonts/BubbleboddyNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

h1, h2, h3 {
    font-family: 'Bubbleboddy Neue', sans-serif;
}

p, span, a, li, input, select, button {
    font-family: 'Comfortaa', sans-serif;
}

